@*@model IEnumerable<Azure_Search_and_Recommendations_Demo.Models.Car>*@
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="~/Scripts/app/controllers/car-controller.js"></script>
<script src="~/Scripts/app/services/data-service.js"></script>
@{
    ViewBag.Title = "Index";
}

<h2>Car List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<section ng-app="car-app">
    <div ng-controller="carController as car">
        <input type="search" id="search-input" ng-model="car.searchTerm" />
        <button type="submit" class="btn btn-default" ng-model="car.searchTerm" ng-click="car.search()" >
            <span class="glyphicon glyphicon-search"></span>
        </button>

        <a ng-repeat="car in car.cars" ng-href="Cars/Details/{{car.Document.Id}}" >
            <div>
            {{car.Document.Make}} - {{car.Document.Model}} - {{car.Document.Year}}
            </div>
        </a>
    </div>
</section>
